%div.entry
  %h3
    = link_to entry.title, entry.url
  %h4
    = link_to entry.feed.title, entry.feed.website
    - unless entry.posting_date.blank?
      %span#timestamp
        = entry.posting_date.utc.iso8601

  %div.clearfix
    = sanitize entry.content.to_s.force_encoding('UTF-8')

  %br.clear
