<div class="entry">
  <h3>
    <%= link_to entry.title, entry.url %>
  </h3>
  <h4>
    <%= link_to entry.feed.title, entry.feed.website %>
    <% unless entry.posting_date.blank? %>
      <span id="timestamp">
        <%= entry.posting_date.utc.iso8601 %>
      </span>
    <% end %>
  </h4>
  <div class="clearfix">
    <%= sanitize entry.content.to_s.force_encoding('UTF-8') %>
  </div>
  <br class="clear"/>
</div>

