<table class="table">
  <tr>
    <th>Title</th>
    <th>Feed</th>
    <th>Date</th>
  </tr>
  <% @viewed.each do |viewed| %>
    <tr>
      <td>
        <%= link_to viewed.entry.title, entry_path(viewed.entry) %>
      </td>
      <td>
        <%= link_to viewed.entry.feed.title, feed_path(viewed.entry.feed) %>
      </td>
      <td>
        <%= viewed.created_at.blank? ? '' : viewed.created_at.to_date %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @viewed %>

