- @entries.each_with_index do |entry, index|
  = render :partial => 'entry', locals: { entry: entry, index: index }

%div
  %center
    = form_tag '/read', method: :post do
      = hidden_field_tag 'entries', @unread_entry_ids.join(',')
      = submit_tag 'Mark As Read', class: 'btn btn-primary btn-large mark-button'

%br
