- @entries.each do |entry|
  - @entry_ids << entry.id
  = render :partial => 'entry', locals: { entry: entry }

%div
  %center
    = form_tag '/read', method: :post do
      = hidden_field_tag 'entries', @entry_ids.join(',')
      = submit_tag 'Mark As Read', class: 'btn btn-primary btn-large mark-button'

%br
