%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Export
  %div.panel-body
    = link_to 'Export OPML', '/feeds/export', class: 'btn btn-primary', data: { no_turbolink: true }

%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title
      Import
  %div.panel-body
    = form_tag({action: :upload}, multipart: true) do
      = file_field_tag 'opml'
      = submit_tag 'Upload OPML', class: 'btn btn-default'
